

/* Login.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family:cursive;
    margin: 0;
}

.register{
  max-width: 978px;
  width: 100vw;
  display:flex;
  border-radius: 10px; 
  text-align: center;
  margin-left: 80px;
  margin-right: 275px;
  margin-top: 70px;
  margin-bottom: 80px;
  
}

.h5{
  color: grey;
  justify-content: center;
}

.register span{
  color: grey;
  justify-content: center;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
  justify-content: center;
}

#form >  input, .btn{
  border: 1px solid #d8dce0;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #000000;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
}

.flex{
  display: flex;
  gap: 1em;
  justify-content: center;
}

.flex-col{
  flex-direction: column;
  
}

.d{
  justify-content: center;
  border-radius: 10px;
}

.e{
  justify-content: center;
  border-radius: 10px;
  height: 100px;
}

.register .col-1{
  margin: auto;
  padding: 3em 0;
  width:auto;
  height: auto;
}

.register .col-3{
  margin: auto;
  padding: 3em 0;
  margin-top: -80px;
  margin-left: 35em;
  width: auto;
}

.register .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  margin-left:-5em;
  
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}

.register .col-10 img{
  width: 90%;
  height: 80%;
  margin-bottom: 165px;
}

.btn1{
  height: 30px;
  width: 30px;
  margin-left: 20px;
  border-radius: 5px;
  border-color: black;
  background-color: #f3f5f9;
}

.btn2{
  height: 30px;
  width: 90px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 10px;
  border-color: grey;
  background-color: transparent;

}

.btn3{
  height: 30px;
  width: 120px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 10px;
  border-color: grey;
  background-color: transparent;

}

.share{  
  max-width: 600px;
  width: 100vw;
  display:flex;
  border-radius: 10px;
  background-color: #f3f5f9;
  margin-left: 480px;
  margin-right: 275px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.h5{
  color: #adb5bd;
  justify-content: center;
}

.p{
  text-align: left;
  justify-content: left;
}

.file{
  background-color: white;
  box-sizing: border-box;
  padding: 15px 5px;
  cursor: pointer;
  transition: 0.5s;
  height: 100px;
  width: 320px;
  position: relative;
  border-radius: 10px;
  margin: 1em auto;
  margin-right: 6px;
}

.share span{
  color: #adb5bd;
  justify-content: center;
}

.share .col-1{
  margin: auto;
  padding: 3em 0;
}

.share .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .share .col-2 img{
    display: initial;
  }
}

.abc{
  text-decoration:none;
  color: #000;
}



/*navbar.css*/
.navbar {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: rgb(255, 255, 255);
  justify-self: start;
  margin-left: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  font-size: 5rem;
  color: rgb(255, 255, 255);
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 15px;
  list-style: none;
  text-align: center;
  width: 95vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 70px;
}

.nav-links {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 90%;
}

.nav-links:hover {
  border-bottom: 4px solid rgb(0, 0, 0);
  transition:all 0.3 ease-out;
}

.fa-bars {
  color: rgb(255, 255, 255);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: rgb(255, 255, 255);
    color: #000000;
    transition: 250ms;
  }
}





/*footer.css*/
.footer-container {
  background-color: #000000;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.footer-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: 20px;
  padding: 1px;
  color: #fff;
} 

.footer-a > p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.footer-a-heading {
  margin-bottom: 1px;
  font-size: 20px;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  text-align: left;
  width: 100px;
  box-sizing: border-box;
}

.footer-link-items h6 {
  margin-bottom: 10px;
}

.footer-link-items > h6 {
  color: #fff;
  font-size: large;
}

.footer-link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: small;
}

.footer-link-items a:hover {
  color: #ffffff;
  transition: 0.3s ease-out;
}

/* Social Icons */
.social-icon-link {
  color: #fff;
  font-size: 20px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
  
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 100px;
  margin: 10px auto 0 auto;
  margin-bottom: 10px;
  margin-left: 420px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-bottom: 10px;
  
}

.social-logo {
  color: #fff;
  justify-self: start;
  margin-left: 1000px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.website-rights {
  color: #fff;
  margin-bottom: 10px;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
}

.category1 img {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
  object-fit: contain;
  }

  .wrapper {
    text-align: center;
    width: 75%;
    align-self: auto;
  }
  
  .how{
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
  }
  
  .how1{
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  .how3{
    text-align: center;
    margin-top: 10px;
  }
  
  .how4{
    text-align: center;
    margin-top: 50px;
    margin-bottom: -70px;
  }
  
  .how5{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bolder;;
  }
  
  .wrapper123 {
    text-align: center;
    width: 80%;
  }
  
  .wbackground123 {
    padding: 80px 0;
    margin-bottom: 10px;
    margin-left: 150px;
  
  }
  
  .wbackground124 {
    padding: 80px 0;
    margin-bottom: 100px;
  }
  
  .wrapper .img {
    margin: auto;
    width: 100px;
    height: 100px;
    line-height: 80px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .wrapper .img i {
    font-size: 40px;
  }
  
  .wrapper .product {
    padding: 10px;
  }
  
  .wrapper .product h3 {
    font-weight: 500;
    color: grey;
  }
  
  .wrapper p {
    font-size: 15px;
    margin-top: 20px;
    color: grey;
  }
  
  .wbackground {
    background: #ffffff;
    padding: 80px 0;
    margin-bottom: 100px;
    align-items: center;
  }
  .wcontainer {
    max-width: 90%;
    margin: auto;
    align-items: center;
  }
  
  .wcontainer1 {
    max-width: 150px;
    margin: auto;
    align-items: center;
  }
  
  .wd_flex {
    display: flex;
    justify-content: space-between;
  }
  .wc_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wf_flex {
    display: flex;
  }
  a {
    text-decoration: none;
    color: black;
  }
  li {
    list-style: none;
  }
  .wuppercase {
    text-transform: uppercase;
  }
  .wcapitalize {
    text-transform: capitalize;
  }
  .wRText {
    text-align-last: right;
  }
  input,
  button {
    border: none;
    outline: none;
    background-color: none;
  }
  .wrow {
    width: 50%;
  }
  .wicon-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #f3f5f9;
    margin-left: 20px;
    text-align: center;
    border-radius: 50%;
  }
  .wboxShadow {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  }
  
  /*---------category----------*/
  .wcontentWidth {
    width: 77%;
  }
  .wcategory {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    background-color: #fff;
    width: 23%;
    height: 510px;
    padding: 15px 0;
    border-radius: 5px;
    margin-top: 5px;
  }
  .wcategory img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    object-fit: contain;
  }
  
  .vpproduct img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    object-fit: contain;
  }
  
  .vpproduct1 img {
    width: 400px;
    height: 400px;
    margin-top: 10px;
    object-fit: contain;
  }
  
  .wproduct img {
    width: 400px;
    height: 400px;
    margin-top: 10px;
    object-fit: contain;
  }
  
  .wcategory span {
    margin: 10px 20px;
    text-transform: capitalize;
  }
  .wcategory .box {
    transition: 0.5s;
    padding: 0 20px;
  }
  .wcategory .box:hover {
    background-color: #ffe1e6;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /*---------category----------*/
  .wtop {
    margin-top: 80px;
  }
  .wmtop {
    margin-top: 40px;
  }
  
  /*---------product-----------*/
  .wproduct {
    background: #fff;
    padding: 50px;
    position: center;
    border-radius: 10px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin: 10px;
    height: 300px;
    align-items: center;
  }
  
  .vpproduct {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: rgb(3 0 71 / 30%) 0px 1px 3px;
    margin: 20px;
    height: 600px;
  }
  
  .vpproduct1 {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin: 10px;
    height: 500px;
    width: 500px;
  }
  
  .wproduct h3 {
    font-weight: 400;
    font-size: 17px;
    margin-top: 30px;
  }
  
  .vproduct h3 {
    font-weight: 400;
    font-size: 17px;
    margin-top: 30px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-left: -10px;
  }
  
  .grid3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .grid5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .grid9 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-left: 60px;
    margin-top: -700px;
  }

  .link{
    text-decoration: none;
    color: #000;
  }