.shareform-container{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f3f5f9;
    border-radius: 10px;
}

.shareform-container1{
    margin-left: 20px;
    margin-right: 20px;
}

.shareform-container2{
    width:60%;
    margin-left: auto;
    margin-right: auto;
}


